$darkgrey: #323232;
$orange: #F78434;

@import 'reset';

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

input {
    outline: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
}

.navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    &-item {
        margin-left: 42px;
        a {
            color: $darkgrey ;
            text-decoration: none;
        }
        &.active {
            a {
                color: $orange;
                font-weight: 700;   
            } 
        }
    }
}

.main-heading {
    color: $darkgrey;
    font-size: 54px;
}

.intro-sect {
    .main-heading {
        width: 680px;
        position: relative;
        margin-bottom: 30px;
    }
    .intro-row {
        display: flex;
        align-items: center;
    }
    .col-1 {
        max-width: 52%;
    }
    .col-2 {
        max-width: 48%;
    }
    .intro-form {
        overflow: hidden;
        width: 460px;
        position: relative;
        margin-top: 40px;
        &-input {
            border:0;
            box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
            border-radius: 29px;
            padding: 20px 30px 20px 65px;
            width: 100%;

            &::placeholder {
                color: #BBBBBB;
            }
        }

        &:before {
            content: "";
            background-image: url(../img/email-icon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 25px;
            height: 20px;
            position: absolute;
            left: 28px;
            top:50%;
            transform: translateY(-50%);
        }

        .btn {
            position: absolute;
            right: 0;
            height: 100%;
        }
    }
}

.btn {
    background-color: $orange;
    display: inline-block;
    color:white;
    font-weight: 700;
    padding: 18px 35px;
    border: 0;
    border-radius: 50px;
}

.logo-sect {
    .logo-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 99px;
    }
    &-row {
        display: flex;
        margin-top: 100px;
        position: relative;
        .col-1 {
            flex: 50%;
            min-width: 849px;
            margin-left:-165px;
            .flex-block-img {
                display: flex;
                img {
                    display: block;
                    margin-right: 32px;
                }
            }
        }
        .col-2 {
            flex: 50%;
            padding-left: 93px;
            &-text-block {
                .heading {
                    margin-top: 68px;
                    font-size: 40px;
                }
                .text {
                    margin-top: 20px;
                }
            }
            .btn {
                margin-top: 40px;
            }
        }
        .small-block {
            position: absolute;
            background-color: white;
            min-width: 350px;
            height: 141px;
            border-radius: 10px;
            left: 274px;
            top: 332px;
            color: $darkgrey;
            img {
                display: block;
                position: absolute;
                top:48px;
                left:29px;
            }
            .heading {
                position: absolute;
                top:32px;
                left:94px;
                font-weight: bold;
            }
            .text {
                position: absolute;
                top:58px;
                left:94px;
                font-size: 16px;
            }
        }
    }
}




